<ol class="breadcrumb">
	<li class="breadcrumb-item active">Questions</li>
</ol>

<div class="container-fluid">

	<div class="row">
		<div class="col-md-4">
			<form [formGroup]="formGroup" novalidate>
				<div class="form-group">
					<label>Choose Category</label>
					<ng-select [items]="categories"
							   [searchable]="true"
							   bindLabel="name"
							   bindValue="id"
							   formControlName="categoryId"
							   (change)="get()">
						<ng-template ng-option-tmp let-item="item">
							{{item.name}}
						</ng-template>
					</ng-select>
				</div>

				<div class="form-group">
					<label>Choose Source</label>
					<ng-select [items]="sources"
							   [searchable]="true"
							   [placeholder]="'Choose source'"
							   bindLabel="name"
							   bindValue="id"
							   formControlName="sourceId"
							   (change)="get()">
						<ng-template ng-option-tmp let-item="item">
							{{item.name}}
						</ng-template>
					</ng-select>
				</div>

				<div class="form-group">
					<div class="pretty p-default p-curve">
						<input type="checkbox"
							   formControlName="shuffleQuestions"
							   (change)="get()">
						<div class="state p-success-o">
							<label>Shuffle Questions</label>
						</div>
					</div>
					<div class="pretty p-default p-curve">
						<input type="checkbox"
							   formControlName="shuffleAnswers"
							   (change)="get()">
						<div class="state p-success-o">
							<label>Shuffle Answers</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button type="button" (click)="get()"
							class="btn btn-outline-primary">Reload
					</button>
				</div>
			</form>
		</div>
	</div>

	<div *ngFor="let question of questions"
		 class="mt-4">
		<h3 [innerHTML]="question.text"></h3>
		<ng-container *ngIf="question.questionType === 'radio'">
			<div *ngFor="let answer of question.answers">
				<div class="pretty p-default p-curve" #answerInput>
					<input type="radio"
						   [value]="answer.id"
						   [name]="question.id"
						   (change)="onAnswerSelect(question, answer.id, answerInput)">
					<div class="state">
						<label>{{answer.text}}</label>
					</div>
				</div>
			</div>
		</ng-container>
		<ng-container *ngIf="question.questionType === 'open'">
			<textarea #textareaInput
					  class="form-control"
					  rows="10"
					  placeholder="Input your answer..."
					  (keyup)="onOpenAnswerKeyUp(question, textareaInput)"></textarea>
		</ng-container>
	</div>

</div>
