<ol class="breadcrumb">
	<li class="breadcrumb-item active">Questions</li>
</ol>

<div class="container-fluid">

	<div class="row">
		<div class="col-md-12">
			<h3>Questions</h3>
		</div>
	</div>

	<form [formGroup]="formGroup" (ngSubmit)="onSearch()">
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label>Choose Category</label>
					<ng-select [items]="categories"
							   [searchable]="true"
							   bindLabel="name"
							   bindValue="id"
							   formControlName="categoryId"
							   (change)="get()">
						<ng-template ng-option-tmp let-item="item">
							{{item.name}}
						</ng-template>
					</ng-select>
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label>Choose Source</label>
					<ng-select [items]="sources"
							   [searchable]="true"
							   [placeholder]="'Choose source'"
							   bindLabel="name"
							   bindValue="id"
							   formControlName="sourceId"
							   (change)="get()">
						<ng-template ng-option-tmp let-item="item">
							{{item.name}}
						</ng-template>
					</ng-select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="search-group input-group">
					<input type="search"
						   class="form-control"
						   formControlName="search">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary">Search</button>
					</span>
				</div>
			</div>
			<div *ngIf="manage" class="col-md-9 text-right">
				<button class="btn btn-outline-primary" (click)="onEditClick()">Create Question</button>
			</div>
		</div>
	</form>

	<hr>

	<ngx-datatable
		[rows]="questions"
		[columnMode]="'force'"
		[rowClass]="getRowClass"
		[headerHeight]="50"
		[footerHeight]="50"
		[rowHeight]="'auto'"
		[externalPaging]="true"
		[externalSorting]="true"
		[count]="pager.totalItemsCount"
		[offset]="pageNumber"
		[limit]="itemsPerPage"
		(page)='setPage($event)'
		(sort)="onSort($event)">

		<ngx-datatable-column name="Text">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<span>{{row.plainText}}</span>
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="Category"
							  [sortable]="false"
							  [headerClass]="'text-center'"
							  [cellClass]="'text-center'">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<span>{{row.category.name}}</span>
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="Source"
							  [headerClass]="'text-center'"
							  [cellClass]="'text-center'">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<span>{{row.questionSourceId}}</span>
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="Type"
							  [headerClass]="'text-center'"
							  [cellClass]="'text-center'">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<span>{{row.questionType}}</span>
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column name="Created"
							  [headerClass]="'text-center'"
							  [cellClass]="'text-center'">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<span>{{row.created | date:'medium'}}</span>
			</ng-template>
		</ngx-datatable-column>

		<ngx-datatable-column *ngIf="manage"
							  name="Actions"
							  [sortable]="false"
							  [headerClass]="'text-center'"
							  [cellClass]="'text-center'">
			<ng-template let-row="row" ngx-datatable-cell-template>
				<button type="button"
						(click)="onEditClick(row)"
						class="btn btn-sm btn-outline-success">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</button>
				<button type="button"
						(click)="onMarkAnswersClick(row)"
						class="btn btn-sm btn-outline-primary">
					<i class="fa fa-check" aria-hidden="true"></i>
				</button>
				<button type="button"
						(click)="onDeleteClick(row)"
						class="btn btn-sm btn-outline-danger">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
				</button>
			</ng-template>
		</ngx-datatable-column>

	</ngx-datatable>

</div>

