<nav class="sidebar-nav">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/categories']" routerLinkActive="active">
				<i class="fa fa-file"></i>
				<span class="title">Categories</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/question-sources']" routerLinkActive="active">
				<i class="fa fa-anchor"></i>
				<span class="title">Question Sources</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/questions']" routerLinkActive="active">
				<i class="fa fa-question"></i>
				<span class="title">Questions</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" [routerLink]="['/questions-list']" routerLinkActive="active">
				<i class="fa fa-angellist"></i>
				<span class="title">Questions List</span>
			</a>
		</li>
	</ul>
</nav>
